/* fun fact: "cqmin" is relatief (1% van de dunste kant van de div dat het in is). */
.clock-widget {
  position: relative;
  isolation: isolate;
  container-type: size;
  width: auto;
  aspect-ratio: 1 / 1;
  background-color: #46464646;
  border-radius: 15%;
  overflow: hidden;
}

.wijzer {
  width: 45cqmin;
  height: 6cqmin;
  transform-origin: left center;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10cqmin;
  border: 0.8cqmin solid black;
  border-left: 0px solid black;
}

.mid {
  position: absolute;
  transform-origin: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  background-color: var(--color-accent);
  width: 8cqmin;
  height: 8cqmin;
  border-radius: 50%;
  z-index: 5;
  border: 0.8cqmin solid black;
}

.midCover {
  position: absolute;
  transform-origin: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  background-color: var(--color-accent);
  width: 8cqmin;
  height: 8cqmin;
  border-radius: 50%;
  z-index: 6;
}

.backdrop{
  position: absolute;
  transform-origin: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(0,0, 0, 0.25);
  width: 100cqmin;
  height: 100cqmin;
  z-index: 0;
  border-radius: var(--clock-backdrop-radius, 20%);
}

@keyframes rotating {
    from {
        transform: translateY(-50%) rotate(-90deg);
    }
    to {
        transform: translateY(-50%) rotate(270deg);
    }
}

.rotatingSec {
    animation: rotating 60s linear infinite;
    background-color: var(--color-accent);
    height: 3cqmin;
    z-index: 5;
}

.rotatingSec.clock-seconds-hidden {
  visibility: hidden;
}

.rotatingMin {
    animation: rotating 3600s linear infinite;
    background-color: var(--color-base03);
    z-index: 4;
}

.rotatingHour {
    animation: rotating 43200s linear infinite;
    background-color: var(--color-base02);
    z-index: 3;
    width: 30cqmin;
}

/* ############################################################################ */

.clock-widget,
.clock-widget-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 0;
}

.clock-center {
  position: absolute;
  left: calc(50% - 0.6rem);
  top: calc(50% - 0.6rem);
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-accent);
  border-radius: 100000px;
}

.clock-preview-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.clock-container,
.clock-widget-preview .clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.clock-face,
.clock-widget-preview .clock-face {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
}

.clock-widget-preview .clock-hand,
.clock-hand {
  background-color: var(--color-text);
  /* No transition because hands are updated every frame and transitions cause hands to spin when tab is unloaded*/
  transition: none;
}

.clock-widget-preview .second-hand,
.second-hand {
  background-color: var(--color-accent);
}

.clock-bottom,
.clock-widget-preview .clock-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.digital-time,
.clock-widget-preview .digital-time {
  font-weight: 800;
  text-align: center;
}

/* Widget-specific differences */

.clock-widget-preview .clock-face,
.clock-face {
  width: 50%;
  margin: 0px 25%;
  background-color: var(--darken-background);
  aspect-ratio: 1;
  position: relative;
}

.smpp-widget-preview .hour-hand {
  width: 0.9rem;
}
.smpp-widget-preview .minute-hand {
  width: 0.7rem;
}
.smpp-widget-preview .second-hand {
  width: 0.5rem;
}

.clock-widget-preview .clock-face {
  width: 70%;
}

/* rotate in JS by setting style.transform = `translate(-50%, -100%) rotate(${deg}deg)` */

.digital-time {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
}
